<!DOCTYPE html>
<html lang="en"> 
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Defensoras - Administracion de Matilti Feminista :: {% endblock %}</title>
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link href="{{ asset('css/defensora/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/defensora/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
		<link href="{{ asset('css/defensora/css/font-awesome.css') }}" rel="stylesheet">
		<link href="{{ asset('css/defensora/css/style.css') }}" rel="stylesheet">
		<link href="{{ asset('css/defensora/css/pages/dashboard.css') }}" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<link type="text/css" rel="stylesheet" href="{{ asset('css/jquery-ui-1.8.20.custom.css') }}">
		{% block css %}{% endblock %}
		<script src="{{ asset('js/matilti/jquery-1.5.2.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/matilti/hideshow.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/matilti/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ asset('js/matilti/jquery.equalHeight.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function(){ $(".tablesorter").tablesorter(); } );
			$(document).ready(function() { //When page loads...
				$(".tab_content").hide(); //Hide all content
				$("ul.tabs li:first").addClass("active").show(); //Activate first tab
				$(".tab_content:first").show(); //Show first tab content
				//On Click Event
				$("ul.tabs li").click(function() {
					$("ul.tabs li").removeClass("active"); //Remove any "active" class
					$(this).addClass("active"); //Add "active" class to selected tab
					$(".tab_content").hide(); //Hide all tab content
					var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
					$(activeTab).fadeIn(); //Fade in the active ID content
					return false;
				});
			});
		</script>
		<script type="text/javascript">$(function(){ $('.column').equalHeight(); });</script>
		<script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
		{% include '::crud.files.js.twig' %}
		{% block crud %}{% endblock %}
		{% block js %}{% endblock %}
	</head>
	<body>{% block body %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a>
					<a class="brand" href="">Defensoras - Administracion de Matilti Feminista </a>
					<div class="nav-collapse">
						<ul class="nav pull-right">
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Enlaces de ayuda <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path("_welcome") }}">Sitio en vivo</a></li>
									<li><a href="http://es.wikipedia.org/wiki/Matilti_(software)">Ayuda</a></li>
									
									<li><a href="#">-----------</a></li>
									<li><a href="{{ path("admin_regla") }}">Reglas de mensajes</a></li>
									<li><a href="{{ path("admin_rol") }}">Catalogo de roles</a></li>
									<li><a href="{{ path("admin_estado") }}">Catalogo de estados</a></li>
									<li><a href="{{ path("mensajeria") }}">Mensajes</a></li>
									<li><a href="{{ path("admin_usuario") }}">Nuevo Usuario</a></li>
									<li><a href="{{ path("admin_usuario") }}">Listar usuarios</a></li>
									<li><a href="{{ path("admin_entidad") }}">Entidades</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Sesion de usuaria <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path("modeloBundle_homepage") }}">Sitio de administracion</a></li>
									<li><a href="{{ path("_security_logout") }}">Cerrar session</a></li>
								</ul>
							</li>
						</ul>
						<form class="navbar-search pull-right"><input type="text" class="search-query" placeholder="Search"></form>
					</div>
					<!--/.nav-collapse -->
				</div>
			<!-- /container --> 
		</div>
		<!-- /navbar-inner --> 
	</div>
	<!-- /navbar -->
	<div class="subnavbar">
		<div class="subnavbar-inner">
			<div class="container">
				<ul class="mainnav">
					<li class="active"><a href=""><i class="icon-dashboard"></i><span>Analisis</span> </a> </li>
					<li><a href=""><i class="icon-list-alt"></i><span>Denuncias</span> </a> </li>
					<li><a href=""><i class="icon-facetime-video"></i><span>Usuarias</span> </a></li>
					<li><a href=""><i class="icon-bar-chart"></i><span>Instituciones</span> </a> </li>
					<li><a href=""><i class="icon-code"></i><span>Mapas</span> </a> </li>
					<li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Reglas</span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="">Icons</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">Pricing Plans</a></li>
						<li><a href="">Login</a></li>
						<li><a href="">Signup</a></li>
						<li><a href="">404</a></li>
					</ul>
					</li>
				</ul>
			</div>
			<!-- /container --> 
		</div>
		<!-- /subnavbar-inner --> 
	</div>
	<!-- /subnavbar -->
	<div class="main">
		<div class="main-inner">
			<div class="container">
				<div class="row">
					{% block marco %}
	<div class="span6">
		<div class="widget">
			<div class="widget-content">
				<h1>6 Columns</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div>
	<div class="span6">
		<div class="widget">
			<div class="widget-content">
				<h1>6 Columns</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
			</div> <!-- /widget-content -->
		</div> <!-- /widget -->
	</div>

					{% endblock %}
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
<div class="extra">
  <div class="extra-inner">
    <div class="container">
      <div class="row">
                    <div class="span4">
                        <h4>Matilti esta programada integramente con software libre.</h4>
                        <ul>
                            <li><a href="">GNU/Linux Debian</a></li>
                            <li><a href="">PostgreSQL 9.1</a></li>
                            <li><a href="">Gammu Deamon 1.128</a></li>
                            <li><a href="">PHP 5.3</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                    <div class="span4">
                        <h4></h4>
                        <ul>
                            <li><a href="">Morris js</a></li>
                            <li><a href="">JQuery 1.7</a></li>
                            <li><a href="">Excanvas</a></li>
                            <li><a href="">google maps utility library v3</a></li>
                        </ul>
                    </div>
                    <!-- /span3 -->
                </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /extra-inner --> 
</div>
<!-- /extra -->
<div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> Template modificado y basado en  <a href="http://www.egrappler.com/">Bootstrap Responsive Admin Template</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
</div>
<!-- /footer --> 
<!-- Le javascript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="{{ asset('css/defensora/js/jquery-1.7.2.min.js') }}"></script> 
<script src="{{ asset('css/defensora/js/excanvas.min.js') }}"></script> 
<script src="{{ asset('css/defensora/js/chart.min.js') }}" type="text/javascript"></script> 
<script src="{{ asset('css/defensora/js/bootstrap.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ asset('css/defensora/js/full-calendar/fullcalendar.min.js') }}"></script>
 
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-526d655b07eca5be"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'light',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'matilti.colectivafeminista'},
        {'service': 'twitter', 'id': 'laradiodetodas'}
      ]
    },   
    'recommended' : {} 
  });
</script>
<!-- AddThis Smart Layers END -->
{% endblock %}
  {% block crudMsg %}
   <div id="error" title="Estado de registro">
    <img src="{{ asset('images/etc/process-stop.png') }}" /><b>Error al procesar el registro</b><br />
    Por favor, verifique los datos e intente nuevamente.
   </div>
   <div id="load" title="Estado :: "><img src="{{ asset('images/etc/load.png') }}" /></div>
   <div id="ok" title="Estado de registro"><img src="{{ asset('images/etc/accessories-text-editor.png') }}" height="32" width="32" />Registro procesado con exito.</div>
   <div id="delete" title="Eliminar registro ::">
    <p><img src="{{ asset('images/etc/edit-clear.png') }}" height="32" width="32" />Este registro se eliminará permanentemente. <br /><b>¿Está seguro de hacerlo?</b></p>
   </div>
  {% endblock %}	
</body>
</html>
